:root {
  --background: rgb(255, 255, 255);
  --foreground: #171717;
}

.header {
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 5px 5px rgba(5, 5, 5, 0.06);
  background: #fff !important;
  color: var(--foreground) !important;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.title {
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  align-self: center;
}

.menu {
  min-width: 0;
  border-bottom: none !important;
}

@media (max-width: 768px) {
  .header {
    padding: 0 16px !important;
  }
  .title {
    font-size: 16px;
  }
}
