:root {
  --background: rgba(255, 255, 255, 0.75);
  --foreground: #171717;
}

.content {
  padding: 50px;
  background: var(--background);
  overflow-y: auto;
}

@media (max-width: 768px) {
  .content {
    padding: 16px;
  }
}
